# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/

# PyInstaller / Logs / Coverage
*.spec
pip-log.txt
.pytest_cache/
.coverage
htmlcov/

# Environments
.env
.venv
env/
venv/

# IDEs
.idea/
.vscode/
*.swp
